//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


.file-list__file {
	border-bottom: 1px solid #cdcfd0;
	padding: 1em;
	font-size: 16px;
	margin-bottom: 0.75em;
	display: table;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.file-list__file div {
	display: table-cell;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.card {
  background-color: govuk-colour("light-grey");
  padding: 30px 30px 10px 30px;
  min-height: 260px;
}

.card-overview {
  border: 2px #c7c7c7 solid;
  background-color: white;
 
}


// ––––––––––

.govuk-summary-list__card {
  border: 1px solid #B1B4B6;
}

.govuk-summary-list__card-content {
  padding: 15px 20px;
}



.hmcts-search {
    font-size: 0; // Fallback
  }
  
  .hmcts-search form {
    align-items: flex-end;
    display: flex;
  }
  
  .hmcts-search .govuk-form-group {
    display: inline-block;
    flex: 1;
    margin-bottom: 0;
    vertical-align: top;
  }
  
  
  .hmcts-search__label,
  .hmcts-search__hint {
    text-align: left;
  }
  
  
  .hmcts-search__input:focus {
    position: relative;
    z-index: 1;
  }
  
  .hmcts-search__button {
    display: inline-block;
    margin-bottom: 0;
    margin-left: govuk-spacing(2);
    position: relative;
    top: -2px; // Override default gov properties due to active pixel movement
    vertical-align: bottom;
    width: auto;
  }
  
  // Modifiers
  .hmcts-search--ondark {
    background-color: govuk-colour("black");
    padding: govuk-spacing(3);
  }
  
  .hmcts-search--ondark .hmcts-search__label {
    color: govuk-colour("white");
  }
  
  .hmcts-search--ondark .hmcts-search__hint {
    color: govuk-colour("mid-grey", $legacy: "grey-2");
  }
  
  .hmcts-search--ondark .hmcts-search__input {
    border-color: govuk-colour("white");
  }
  
  .hmcts-search--ondark .hmcts-search__button {
    box-shadow: 0 2px 0 #00823b;
    margin-left: 0;
  
    &:hover,
    &:focus {
      box-shadow: 0 2px 0 darken(#00823b, 5%);
    }
  
    &:active {
      top: -2px;
    }
  
  }
  

  .hmrc-language-select {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: GDS Transport,arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.1428571429
}

@media print {
    .hmrc-language-select {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .hmrc-language-select {
        font-size:1rem;
        line-height: 1.25
    }
}

@media print {
    .hmrc-language-select {
        font-size: 14pt;
        line-height: 1.2
    }
}

.hmrc-language-select:after {
    clear: both;
    content: "";
    display: block
}

.hmrc-language-select__list {
    float: right;
    margin-top: 1em;
    text-align: right
}

.hmrc-language-select__list-item {
    display: inline-block
}

.hmrc-language-select__list-item:first-child:after {
    border-right: .09375em solid #0b0c0c;
    content: "";
    display: inline-block;
    height: 1em;
    position: relative;
    top: .1875em
}

.hmrc-language-select__list-item [aria-current],.hmrc-language-select__list-item a {
    padding: .3125em
}
