{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{ govukHeader({
  homepageUrl: "/index.html",
  serviceName: serviceName ,
  serviceUrl: "/index.html",
  navigation: [
  {
  href: "account-home-ceo",
  text: "Home",
  active: true
  },
  {
    href: "#",
    text: "Payments"
    },
  {
  href: "manage-account-ceo",
  text: "Manage your account"
  },
  {
    href: "#",
    text: "View guidence"
    },
  {
  href: "confirm-signout",
  text: "Sign out"
  }
  ]
  }) }}
  
  {% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <nav class="hmrc-language-select" aria-label="Language switcher">
    <ul class="hmrc-language-select__list">
      <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
   <h1 class="govuk-heading-l govuk-!-margin-bottom-7"><span class="govuk-caption-l">{{data['local_authority']}}</span>
   Home 
    </h1>
  </div>
</div>



<div class="govuk-grid-row govuk-!-margin-bottom-7">

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m govuk-link-"><a href="#" class="govuk-link--no-visited-state">Payments</a></h2>
      <p class="govuk-body">You can view your:</p>
        <ul class="govuk-list govuk-list--bullet">
         <li>extended producer responsibility (pEPR) for packaging estimated payment amount and schedule</li>
         <li>breakdown of how your pEPR for packaging estimated payment is calculated</li>
         <li>payment documents for 2024 to 2025</li>
        </ul> 
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
      <h2 class="govuk-heading-m"><a href="/laps/account/manage-account-ceo" class="govuk-link--no-visited-state">Manage your account</a></h2>
      <p class="govuk-body">You can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>view your details</li>
          <li>view your pEPR team </li>
          <li>add and remove people</li>
          <li>delegate</li>
        </ul> 
        <p><br></p>

    </div>
  </div>
</div>




  <div class="govuk-grid-row govuk-!-margin-bottom-7">

    <div class="govuk-grid-column-one-half">
      <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
        <h2 class="govuk-heading-m govuk-link-"><a href="#" class="govuk-link--no-visited-state">View guidance (opens in a new window)</a></h2>
        <p class="govuk-body">You can find out how:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>payments are calculated</li>
            <li>payments are made</li>
            <li>the pEPR scheme works</li>
          </ul> 
      </div>
    </div>
  
    <div class="govuk-grid-column-one-half">
      <div class="card" style="background-color: #F3F2F1; border-bottom: 5px solid #1D70B8;">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link--no-visited-state">Contact us</a></h2>
        <p class="govuk-body">You can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>submit a query</li>
            <li>find telephone contact details</li>
          </ul> 
          
        </div>
  
      </div>
    </div>
  </div>
  

{% endblock %}
