{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Register for Local Authority Payments</span>
    <h1 class="govuk-heading-l">Check your details</h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['contacts_fname'] | capitalize }} {{data['contacts_lname'] | capitalize }}
        </dd>

      </div>

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['role']}} 
        </dd>
      </div>

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['contacts_email']}} 
        </dd>
      </div>
   
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Local authority
        </dt>
        <dd class="govuk-summary-list__value">
          {{data['local_authority']}}
        </dd>
   
      </div>

    </dl>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          These details are incorrect
        </span>
      </summary>
      <div class="govuk-details__text">
      Text to be provided based on business rules.</div>
    </details>
<!--
    <p class="govuk-body">By creating your account, you confirm that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>you have read and agree to the <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">terms and conditions (opens in new tab)</a></li>
      <li>your information is correct</li>
    </ul>

  -->
<form method="post">
  <div class="govuk-button-group">
    <button class="govuk-button govuk-body govuk-!-margin-bottom-6" type="submit">Continue</button>
  </div>
</div>
</form>
</div>
</div>

{% endblock %}
