{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{ govukHeader({
homepageUrl: "/index.html",
serviceName: serviceName ,
serviceUrl: "/index.html",
navigation: [
{
href: "account-home-ceo",
text: "Home",
active: true
},

{
href: "confirm-signout",
text: "Sign out"
}
]
}) }}

{% endblock %}
  


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <nav class="hmrc-language-select" aria-label="Language switcher">
    {{ govukBackLink({
      href: "javascript:window.history.back()",
      text: "Back"
    }) }}
    <ul class="hmrc-language-select__list">
      <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Contact us</h1>
    <p class="govuk-body">
      Contact the pEPR account for Local Authority Payments helpline if you have any questions.
    </p>
   
    <h3 class="govuk-heading-s">Telephone</h3>
  
    <ul class="govuk-list">
      <li>Telephone: 020 7946 0101</li>
      <li>Monday to Friday, 9am to 5pm</li>
    </ul>
    <p class="govuk-body">
      Closed on weekends and bank holidays.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Find out about call charges</a>
    </p>

    <h3 class="govuk-heading-s">Email</h3>
<ul class="govuk-list">
  <li><a class="govuk-link" href="#">name@example.com</a></li>
  <li>We aim to respond within 2 working days</li>
  <li>Please do not attach any files with your email.</li>
</ul>

   <!--
    <p class="govuk-body">
      Contact the pEPR account for Local Authority Payments helpline if you have any questions.
    </p>
    <p class="govuk-body">
      Telephone:<br>
      <strong class="govuk-!-font-weight-bold">0808 157 3900</strong>
    </p>
 
    <p class="govuk-body">
      Textphone:<br>
      <strong class="govuk-!-font-weight-bold">0808 157 3909</strong>
    </p>
    <p class="govuk-body">
      Outside UK:<br>
      <strong class="govuk-!-font-weight-bold">+44 0808 157 0192</strong>
    </p> 
    <p class="govuk-body">
      Opening times:<br>
      <strong class="govuk-!-font-weight-bold">Monday to Friday: 8am to 8pm</strong>
    </p>
    <p class="govuk-body">
      Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.
    </p>-->
  </div>
</div>

{% endblock %}
