{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a password – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

  <nav class="hmrc-language-select" aria-label="Language switcher">
    <ul class="hmrc-language-select__list">
      <li class="hmrc-language-select__list-item">
        <span aria-current="true">English</span>
      </li>
      <li class="hmrc-language-select__list-item">
        <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
          <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
          <span aria-hidden="true">Cymraeg</span>
        </a>
      </li>
    </ul>
  </nav>

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">


     <!-- ERROR LOGIC  error summary -->
     {%  if  data['errorthispage'] == "true"  %}
       <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
         <h2 class="govuk-error-summary__title" id="error-summary-title">
           There is a problem
         </h2>
         <div class="govuk-error-summary__body">
           <ul class="govuk-list govuk-error-summary__list">

             <li>
           <a href="#user_id">Enter a password</a>
         </li>
         <li>
          <a href="#user_id">Your password is not in the right format (Use at least 8 to 64 characters. It requires 3 out of 4 of lowercase, uppercase, numbers, or symbols)</a>
        </li>
        <li>
          <a href="#match">Password cannot be the same as previous password</a>
        </li>
         <li>
           <a href="#password">Password must match</a>
         </li>

           </ul>
         </div>
       </div>
     {% endif %}
     <!--  END OF ERROR LOGIC -->

     <span class="govuk-caption-l">Local Authority Payments</span>
     <h1 class="govuk-heading-l">Create a password</h1>


  

    <form  method="POST" id="reset">

     <input type="hidden" name="" value=""> <input type="hidden" name="csrfToken" value="">

       <!-- ERROR LOGIC  error class is added to whole section if error is ture  -->
       {% if  data['errorthispage'] == "true"  %}
         <div class="govuk-form-group govuk-form-group--error" id="password_error">
       {% else %}
         <div class="govuk-form-group">
       {% endif %}
       <!--  END OF ERROR LOGIC -->


    <label for="password" class="govuk-label" aria-describedby="password-hint">Password</label>
      <div class="govuk-hint" id="user_id-hint">
                Use a minumum of 8 characters and a combination of uppercase, lowercase, numbers, and symbols.
       <!-- ERROR LOGIC if there is an error then show which error is true  -->
        {%  if  data['errorthispage'] == "true"  %}
           <p id="user_id-hint-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a password
          </p>
          <p id="user_id-hint-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Your password is not in the right format (Use at least 8 to 64 characters. It requires 3 out of 4 of lowercase, uppercase, numbers, or symbols)
          </p>
          <p id="match" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Password cannot be the same as previous password
          </p>
       {%  endif  %}
       <!--  END OF ERROR LOGIC -->

     </div> <input type="text" name="user_id" id="user_id" class="govuk-input govuk-!-width-one-half" value="" maxlength="22" aria-describedby="user_id-hint" autocomplete="username">
     </div>


     <!-- ERROR LOGIC  error class is added to whole section if error is ture  -->
     {% if  data['errorthispage'] == "true"  %}
       <div class="govuk-form-group govuk-form-group--error" id="user_id_error">
     {% else %}
       <div class="govuk-form-group">
     {% endif %}
     <!--  END OF ERROR LOGIC -->

       <label for="password" class="govuk-label">Confirm password</label>
       <!-- ERROR LOGIC if there is an error then show which error is true  -->
        {%  if  data['errorthispage'] == "true"  %}
        <p id="match" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>Password cannot be the same as previous password
        </p>
           <p id="password-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Password must match
          </p>
       {%  endif  %}
       <!--  END OF ERROR LOGIC -->

      <input type="password" name="password" id="password" class="govuk-input govuk-!-width-one-half" autocomplete="current-password">
     </div> 
     
     
     <a href="./signin.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Continue
      </a>

    </form>



<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post"  action="#" class="for4" style=" float: left; position: relative; bottom:-80px;  ">

  <select style="height:30px;" onchange="window.location.href='?'+this.value">

    <option value="errorthispage=false&errortypeone=false&errortypetwo=false&"
            {% if (data['errorthispage'] != "true") %}selected{% endif %}
    >Errors - Off</option>

    <option value="errorthispage=true&errortypeone=true&errortypetwo=false&"
            {% if (data['errortypeone'] == 'true' and data['errortypetwo'] != 'true')  %}selected{% endif %}
    >Error - On</option>


  </select>

</form>
<!--  END OF ERROR LOGIC -->



{% endblock %}
