{% extends "layouts/main.html" %}

{% block pageTitle %}
Decline the terms and conditions – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<nav class="hmrc-language-select" aria-label="Language switcher">
  {{ govukBackLink({
  href: "javascript:window.history.back()",
  text: "Back"
  }) }}
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">EPR for packaging: register for local authority payments</span>
    <h1 class="govuk-heading-l">Do you want to decline the terms and conditions? </h1>
    <p class="govuk-body">
      If you decline the terms and conditions you cannot continue with the service. You will be reminded to accept the terms and conditions every time you sign in. 
    </p>

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Decline and sign out",
      href: "confirm-signout-reg"
      }) }}
    </div>
    <!--  <a class="govuk-link" href="javascript:window.history.back()">Cancel</a> -->
  </div> 
</div>


{% endblock %}