{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}

{% block pageTitle %}
Your new link for pEPR account creation
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h2 class="govuk-heading-m">
      <h2 class="govuk-heading-m">Change of CEO details at Croydon Borough Council</h2>



    <p class="govuk-body">Croydon Borough Council has updated the CEO details in its LAPs account.</p>

    <h2 class="govuk-heading-m">Existing details:</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Claire Harris
        </dd>

      </div>

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title
        </dt>
        <dd class="govuk-summary-list__value">
          CEO
        </dd>
      </div>

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          claire.harris@croydon.gov.uk
        </dd>
      </div>
   
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Local authority
        </dt>
        <dd class="govuk-summary-list__value">
          Croydon Borough Council
        </dd>
   
      </div>

    </dl>

    <h2 class="govuk-heading-m">Updated details:</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Claire Weston
        </dd>

      </div>

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Job title
        </dt>
        <dd class="govuk-summary-list__value">
          CEO
        </dd>
      </div>

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          claire.weston@croydon.gov.uk
        </dd>
      </div>
   
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Local authority
        </dt>
        <dd class="govuk-summary-list__value">
          Croydon Borough Council
        </dd>
   
      </div>

    </dl>

    <h2 class="govuk-heading-m">What to do next</h2>

<p class="govuk-body">Upload changes to the data to the system if the changes are minor. </p>
<p class="govuk-body">For example, fix a spelling error or make changes to the existing name. </p>
<p class="govuk-body">Due diligence will be needed if there is a different CEO, or if the authority has changed its name.</p>

  
  </div>
</div>

{% endblock %}