{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}

{% block pageTitle %}
pEPR account password change
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">pEPR account password change</h2>

    <p class="govuk-body"></p>

    <p class="govuk-body">You've changed your extended producer responsibility for packaging (pEPR) account password.</p>

    <h3 class="govuk-heading-m">Contact us</h3>

    <p class="govuk-body">If you have any questions, email <a href="mailto:#">pEPR@defra.gov.uk</a></p>
  </div>
</div>

{% endblock %}