{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Dear {{data['contacts_fname'] | capitalize }} {{data['contacts_lname'] | capitalize }}</p>


    <p class="govuk-body">Following the email sent on DD Month YYYY, it’s now time to register for Local Authority Payments (LAPs).  
    </p>

    <p class="govuk-body">Do this so  {{data['local_authority'] }} can receive payment for waste packaging collection and disposal costs.  
    </p>

    <p class="govuk-body">This payment is part of the Extended Producer Responsibility Scheme for packaging waste (EPR).  
    </p>

    <div class="govuk-inset-text govuk-!-font-weight-bold">
      {{data['local_authority'] }} will be unable to receive EPR payments if it does not register for Local Authority Payments (LAPs). 
    </div>


    <h2 class="govuk-heading-m">Register for LAPs </h2>

    <p class="govuk-body"><a href="/laps/account/check-your-details"
        class="govuk-link">https://EPR-local-authorities.service.gov.uk/nominate?=12345  </a></p>

    <h2 class="govuk-heading-m">Contact us</h2>

    <p class="govuk-body">If you have any questions, email <a href="mailto:#">wEPR@defra.gov.uk</a></p>
  </div>
</div>

{% endblock %}