{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Dear {{data['contacts_fname'] | capitalize }} {{data['contacts_lname'] | capitalize }}</p>


    <p class="govuk-body">As part of waste packaging recycling regulations, local authorities will receive payment for:
    </p>


    <ul class="govuk-list govuk-list--bullet">
      <li>collection costs </li>
      <li>disposal costs </li>

    </ul>

    <p class="govuk-body">This payment is part of the Extended Producer Responsibility for packaging (EPR). </p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {{data['local_authority'] | capitalize }} will be unable to receive EPRpayments if it does not register for Local Authority Payments (LAPs).
      </strong>
    </div>


    <h2 class="govuk-heading-m">Register for LAPs </h2>

    <p class="govuk-body">In this one-off task you will:</p>
    <ol class="govuk-list govuk-list--number">
      <li>Register  {{data['local_authority'] | capitalize }} for LAPs. </li>
      <li>Choose up to two people to manage EPRpayments and data.  </li>
    </ol>

    <p class="govuk-body">The people you choose must be responsible for managing: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>finance relating to waste </li>
      <li>waste data submissions </li>
    </ul>

    <p class="govuk-body ">These people will get full admin permissions and will be able to add other users. This will let them create teams with relevant permissions to manage EPR. </p>
    <ul class="govuk-list govuk-list--bullet">
    </ul>

    <div class="govuk-inset-text">
      We advise reading the <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">terms and
        conditions (opens in new tab)</a> before you create your account.
    </div>

<!--
    <p class="govuk-body">Create an account to manage {{data['local_authority']}}'s EPRpayments so your colleagues
      can: </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>understand how we calculate EPRpayments </li>
      <li>submit waste data to EPR</li>
      <li>identify ways of improving efficacy and efficiency </li>
    </ul>
-->
    <!--
  <p class="govuk-body govuk-!-font-weight-bold">Make sure anyone creating the account on your behalf has access to your mailbox, as the link will not work if forwarded.</p>
-->
    <h2 class="govuk-heading-m">What to do next</h2>
    <ol class="govuk-list govuk-list--number">
      <li>Collect the names and email addresses of the people you've chosen to manage EPR.  </li>
      <li>Set aside time to go through the registration process. </li>
      <li>Register {{data['local_authority']}}'s LAPs account.</li>
      <li>Invite people to manage {{data['local_authority']}}'s EPRpayments and data.</li>
    </ol>


    <h2 class="govuk-heading-m">Create your EPRaccount</h2>
    <p class="govuk-body"><a href="/laps/account/check-your-details"
        class="govuk-link">https://EPR-local-authorities.service.gov.uk/nominate?=12345  </a></p>

    <h2 class="govuk-heading-m">Contact us</h2>

    <p class="govuk-body">If you have any questions, email <a href="mailto:#">wEPRCustomerService@defra.gov.uk</a></p>
  </div>
</div>

{% endblock %}