{% extends "layouts/main.html" %}
{% set serviceName %}
  
{% endset%}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <p class="govuk-body">Dear {{data['contacts_fname'] | capitalize }} {{data['contacts_lname'] | capitalize }}</p>

  <p class="govuk-body">Create an account to manage local authority payments as part of Extended Producer Responsibility for packaging (EPR).</p>


  <p class="govuk-body">An EPR account will let {{data['local_authority']}}:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li> understand how payments are calculated</li>
      <li>submit a query about the payment</li>
        <li>complain about the payment amount</li>
        </ul>
        <p class="govuk-body">Discuss this with the person who approves waste data submissions for {{data['local_authority']}}.</p>


  <h2 class="govuk-heading-m">Create {{data['local_authority']}}'s EPR account</h2>

  <p class="govuk-body">In this one-off task you will:</p>
  <ol class="govuk-list govuk-list--number">
    <li>Create your EPR account.</li>
    <li>Choose up to two people who  will manage the EPR account.</li>
  </ol>

  <p class="govuk-body">The people you choose must be responsible for:  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>receiving payment for packaging waste costs</li>
    <li>approving  packaging waste data </li>
  </ul>

  <p class="govuk-body">These people will be able to add other users.</p>
  <ul class="govuk-list govuk-list--bullet">


</ul>
  <div class="govuk-inset-text">
    We advise reading the   <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">terms and conditions (opens in new tab)</a> before you create your account.
  </div>
<!--
  <p class="govuk-body govuk-!-font-weight-bold">Make sure anyone creating the account on your behalf has access to your mailbox, as the link will not work if forwarded.</p>
-->
<h2 class="govuk-heading-m">What to do next</h2>
  <ol class="govuk-list govuk-list--number">
    <li>Collect the names and email addresses of the people you've chosen to manage EPR payments and waste data.</li>
    <li>Set aside time to create your account.</li>
    <li>Create {{data['local_authority']}}'s account.</li>
    <li>Invite people to manage {{data['local_authority']}}'s EPR account.</li>
  </ol>

 
  <h2 class="govuk-heading-m">Create your EPR account</h2>
    <p class="govuk-body"><a href="/laps/account/check-your-details" class="govuk-link">https://epr-local-authorities.service.gov.uk/nomi https://epr-local-authorities.service.gov.uk/nominate?=12345  </a></p>

    <h2 class="govuk-heading-m">Contact us</h2>

    <p class="govuk-body">If you have any questions, email <a href="mailto:#">wEPR@defra.gov.uk</a></p>
  </div>
  </div>

{% endblock %}

