{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}

{% block pageTitle %}
Your new link for pEPR account creation
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h2 class="govuk-heading-m">
      <h2 class="govuk-heading-m">Your new link for Local Authority Payments registration</h2>



    <p class="govuk-body">Here is your new link to create your extended producer responsibility for packaging (pEPR) account.</p>

    <p class="govuk-body"><a href="id-verification-admin.html"
        class="govuk-link">https://EPR-local-authorities.service.gov.uk/register?=12345  </a></p>


        <p class="govuk-body">
    <p class="govuk-body">This link will expire in [time].</p>

    <h3 class="govuk-heading-m">Contact us</h3>

    <p class="govuk-body">If you have any questions, email <a href="mailto:#">pEPR@defra.gov.uk</a></p>

  
  </div>
</div>

{% endblock %}