{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Dear {{data['contacts_fname'] | capitalize }} {{data['contacts_lname'] | capitalize }}</p>
  
    <p class="govuk-body">You have registered {{data['local_authority'] }} for Local Authority Payments.</p>
    
   
    <p class="govuk-body"><a href="#" class="govuk-link">Log in to your account</a> </p>
    <h3 class="govuk-heading-m">Contact us</h3>

    <p class="govuk-body">If you have any questions, email <a href="mailto:#">pEPR@defra.gov.uk</a></p>
  </div>
</div>

{% endblock %}