{% extends "layouts/main.html" %}
{% set serviceName %}

{% endset%}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Dear {{data['contacts_fname'] | capitalize }} {{data['contacts_lname'] | capitalize }}</p>
  
    <p class="govuk-body">You have successfully registered {{data['local_authority'] }}'s pEPRaccount.</p>
    
    <p class="govuk-body">Invite people to manage {{data['local_authority'] }}'s pEPRaccount on your behalf if you have not already done so. </p>

    <p class="govuk-body">The people you choose must be responsible for managing:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>finance relating to waste  </li>
      <li>waste data submissions </li>
    </ul>

    <p class="govuk-body">These people will have admin accounts. They’ll only be able to add other admin level users during private beta testing. </p> 

      <p class="govuk-body">  They’ll be able to add standard users after beta testing. </p>
    <p class="govuk-body"><a href="#" class="govuk-link">Log in to your account</a> </p>
    <h3 class="govuk-heading-m">Contact us</h3>

    <p class="govuk-body">If you have any questions, email <a href="mailto:#">wEPR@defra.gov.uk</a></p>
  </div>
</div>

{% endblock %}