{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<!-- -------------------------------------first option page------------------------------------------------------------->



{% if data['errorthispage'] == "true" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#email-input-error">Enter your email address</a>
            </li>
        
          </ul>
        </div>
      </div>
    </div>

    <span class="govuk-caption-l">Local Authority Payments</span>
    <h1 class="govuk-heading-xl">Forgotten password</h1>

    <form id="signin-detail" method="post">

      <div class="govuk-form-group govuk-form-group--error">
        <label for="signin_email">
          <span class="govuk-label">Verify your email address</span>
        </label>
        <p id="email-input-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter your email address
        </p>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="signin_email" id="signin_email" type="text"
          data-error="Enter an email address" value="{{data[' signin_email']}}">
      </div>


      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
     

    </form>
  </div>
</div>


<!-- ------------------------------------- (default)------------------------------------------------------------->

{% else %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Local Authority Payments</span>
    <h1 class="govuk-heading-xl">Forgotten password</h1>
    <form id="signin-detail" method="post">

      <div class="govuk-form-group">
        <label for="signin_email">
          <span class="govuk-label">Verify your email address</span>
        </label>
        <input class="govuk-input govuk-input--width-20" id="width-20" name="signin_email" id="signin_email" type="text"
          data-error="Enter an email address" value="{{data[' signin_email']}}">
      </div>

    

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>


    </form>
  </div>
</div>

{% endif %}



<!-- -------------------------------------dropdown selction footer------------------------------------------------------------->

<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-80px;  ">

  <select style="height:30px;" onchange="window.location.href='?'+this.value">

    <option value="errorthispage=false&errortypeone=false&errortypetwo=false&" {% if (data['errorthispage'] !="true" )
      %}selected{% endif %}>Errors - Off</option>

    <option value="errorthispage=true&errortypeone=true&errortypetwo=false&" {% if (data['errortypeone']=='true' and
      data['errortypetwo'] !='true' ) %}selected{% endif %}>Error - On</option>

  </select>

</form>
<!--  END OF ERROR LOGIC -->


{% endblock %}