{% extends "layouts/main.html" %}

{% block pageTitle %}
Incorrect details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<nav class="hmrc-language-select" aria-label="Language switcher">
  {{ govukBackLink({
  href: "javascript:window.history.back()",
  text: "Back"
  }) }}
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link"
        data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">EPR for packaging: register for local authority payments </span>
    <h1 class="govuk-heading-l">Incorrect details</h1>
    <p class="govuk-body">
      Contact us to change your name or that of your authority.
    </p>
   

    <h3 class="govuk-heading-s">Talk to an advisor</h3>
    <ul class="govuk-list">
      <li>Telephone: 0300 060 0002</li>
      <li>Monday to Friday 8:30am - 4:30pm (except public holidays)</li>
    </ul>
 
   
    <h3 class="govuk-heading-s">Email</h3>
    <ul class="govuk-list">
      <li><a href="mailto:#">EPRCustomerService@defra.gov.uk</a></li>
     
      <li>We aim to respond within 3 working days.</li>  
    </ul>
    <!--
    <h3 class="govuk-heading-m">What happens next</h3>
    <p class="govuk-body">
      We'll send you an email to confirm that we've updated your details.
    </p>
  -->

    <div class="govuk-button-group">
      {{ govukButton({
      text: "Sign out",
      href: "confirm-signout-reg"
      }) }}
    </div>
    <!--  <a class="govuk-link" href="javascript:window.history.back()">Cancel</a> -->
  </div> 
</div>


{% endblock %}