{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{ govukHeader({
  homepageUrl: "/index.html",
  serviceName: serviceName ,
  serviceUrl: "/index.html",
  navigation: [
  {
  href: "account-home-ceo",
  text: "Home"
  },
  {
    href: "#",
    text: "Payments"
    },
  {
  href: "#",
  text: "Manage your account",
  active: true
  },
  {
    href: "#",
    text: "View guidence"
    },
  {
  href: "#3",
  text: "Sign out"
  }
  ]
  }) }}
  
  {% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
aria-labelledby="govuk-notification-banner-title"
data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Success
  </h2>
</div>
<div class="govuk-notification-banner__content">
  <p class="govuk-notification-banner__heading">You invited {{data['d_f_name_A'] | capitalize }} {{data['d_l_name_A'] | capitalize }} to your EPR team.
  </p>
  <p class="govuk-body">They will receive an email asking them to create their account.</p>

</div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"> {{data['local_authority']}}</span>
    <h1 class="govuk-heading-l">Manage account</h1>

    <h2 class="govuk-heading-m">Your details</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-0 ">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">{{data['d_f_name'] | capitalize }} {{data['d_l_name'] | capitalize }} </dd>
      </div>

      
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Role</dt>
        <dd class="govuk-summary-list__value">
          {{data['d_role']}}
        </dd>
      </div>
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email</dt>
        <dd class="govuk-summary-list__value" >{{data['d_email']}} </dd>
      </div>
     


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Permission</dt>
        <dd class="govuk-summary-list__value">
          {{data['who_list'] | capitalize }}
        </dd>
      </div>
  
    </dl>



    <dl class="govuk-summary-list">
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Password</dt>
        <dd class="govuk-summary-list__value">
          *****************
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">password</span>
          </a>
        </dd>
      </div>
    </dl>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          My details are incorrect
        </span>
      </summary>
      <div class="govuk-details__text">
        Text to be provided based on business rules.
      </div>
    </details>
  </div>
</div>

<!-- Single User view-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


<h3 class="govuk-heading-m">
  EPR team</h3>

  
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" width="45%">Name</th>

  <!--  <th scope="col" class="govuk-table__header">Responsibility</th> -->

      <th scope="col" class="govuk-table__header">Permission</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Actions<span class="govuk-visually-hidden">Change</span></th>
 <!--     <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Remove</span></th> -->
    
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{data['d_f_name_A'] | capitalize }} {{data['d_l_name_A'] | capitalize }} <br>
        <span class="govuk-body">{{data['d_role_A']}}</span>
        <span class="govuk-caption-m govuk-!-font-size-16">{{data['d_email_A']}} </span>
 
    <!--      <td class="govuk-table__cell">{{data['who_list'] | capitalize }}</td> -->
      
          <td class="govuk-table__cell"> {{data['who_list_A'] | capitalize }}</td>
      <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--blue">
        Invited
      </strong></td>
      <td class="govuk-table__cell"><a class="govuk-link" href="cancel-admin.html">Cancel invitation<span class="govuk-visually-hidden">Cancel invitation</span>
      </a></td>    
 <!--     <td class="govuk-table__cell"><a class="govuk-link" href="/laps/account/remove">Remove<span class="govuk-visually-hidden">Remove</span>
      </a> </td>-->

    </tr>



 
  </tbody>
</table>

<p class="govuk-body">Choose people to manage 's EPR payments and data. </p>
<div class="govuk-inset-text govuk-!-font-weight-bold">
  These people will get full admin permissions and will be able to add other users. This will let them create teams with relevant permissions to manage EPR.  
</div>

  <form class="govuk-form-group" method="post" action="#">
    <button class="govuk-button" type="submit">Invite user</button>
</form>
  </div>
</div>



{% endblock %}