{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{ govukHeader({
  homepageUrl: "/index.html",
  serviceName: serviceName ,
  serviceUrl: "/index.html",
  navigation: [
  {
  href: "account-home-admin",
  text: "Home"
  },
  {
    href: "#",
    text: "Payments"
    },
  {
  href: "#",
  text: "Manage your account",
  active: true
  },
  {
    href: "#",
    text: "View guidence"
    },
  {
  href: "#3",
  text: "Sign out"
  }
  ]
  }) }}
  
  {% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l"> {{data['local_authority']}}</span>
    <h1 class="govuk-heading-l">Manage account</h1>

    <h2 class="govuk-heading-m">Your details</h2>
    
    <dl class="govuk-summary-list govuk-!-margin-bottom-0 ">
    
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">
          {{data['d_f_name'] | capitalize }} {{data['d_l_name'] | capitalize }} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">name</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Job title</dt>
        <dd class="govuk-summary-list__value">
          {{data['d_role']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">role</span>
          </a>
        </dd>
      </div>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Email</dt>
      <dd class="govuk-summary-list__value" >{{data['d_email']}} </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden">role</span>
        </a>
      </dd>
    </div>
   
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Permission</dt>
      <dd class="govuk-summary-list__value">
        {{data['who_list'] | capitalize }}
      </dd>
   
    </div>
  </dl>


  <dl class="govuk-summary-list">
  
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Password</dt>
      <dd class="govuk-summary-list__value">
        *****************
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden">password</span>
        </a>
      </dd>
    </div>
  </dl>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          My details are incorrect
        </span>
      </summary>
      <div class="govuk-details__text">
        Text to be provided based on business rules.
      </div>
    </details>
  </div>
</div>

<!-- Single User view-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


<h3 class="govuk-heading-m">
  EPR team</h3>

  <form class="govuk-form-group govuk-!-margin-bottom-0" method="post" action="#">
    <button class="govuk-button" type="submit">Invite colleague</button>
</form>
  
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" width="45%">Name</th>

  <!--  <th scope="col" class="govuk-table__header">Responsibility</th> -->

      <th scope="col" class="govuk-table__header">Permission</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Actions<span class="govuk-visually-hidden">Change</span></th>
 <!--     <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Remove</span></th> -->
    
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{data['contacts_fname'] | capitalize }} {{data['contacts_lname'] | capitalize }}<br>
        <span class="govuk-body">CEO</span>
        <span class="govuk-caption-m govuk-!-font-size-16">{{data['contacts_email']}} </span>
 
    <!--      <td class="govuk-table__cell">{{data['who_list'] | capitalize }}</td> -->
      
          <td class="govuk-table__cell">CEO Admin</td>
      <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
        Active
      </strong></td>
      <td class="govuk-table__cell">
     </td>    
 <!--     <td class="govuk-table__cell"><a class="govuk-link" href="/laps/account/remove">Remove<span class="govuk-visually-hidden">Remove</span>
      </a> </td>-->

    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{data['d_f_name_A'] | capitalize }} {{data['d_l_name_A'] | capitalize }} <br>
        <span class="govuk-body">{{data['d_role_A']}}</span>
        <span class="govuk-caption-m govuk-!-font-size-16">{{data['d_email_A']}} </span>
 
    <!--      <td class="govuk-table__cell">{{data['who_list'] | capitalize }}</td> -->
      
          <td class="govuk-table__cell"> {{data['who_list_A'] | capitalize }}</td>
      <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
        Active
      </strong></td>
      <td class="govuk-table__cell"><li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="remove-admin">
        Remove<span class="govuk-visually-hidden"> Remove</span>
      </a></li>
    <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="role-details-change-admin-us.html">
        Change<span class="govuk-visually-hidden">Change</span>
      </a></li>
     </td>    
 <!--     <td class="govuk-table__cell"><a class="govuk-link" href="/laps/account/remove">Remove<span class="govuk-visually-hidden">Remove</span>
      </a> </td>-->

    </tr>

    <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{data['d_f_name2'] | capitalize }} {{data['d_l_name2'] | capitalize }} <br>
            <span class="govuk-body">{{data['d_role2']}}</span>
            <span class="govuk-caption-m govuk-!-font-size-16">{{data['d_email2']}} </span>
        
        <!--     <td class="govuk-table__cell">{{data['who_list_2'] | capitalize }}</td> -->
          
        <td class="govuk-table__cell"> {{data['who_list_2'] | capitalize }}</td>
          <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--blue">
            Invited
          </strong></td>
          <td class="govuk-table__cell">   <li class="govuk-summary-list__actions-list-item"> <a class="govuk-link" href="#">
            Cancel invite<span class="govuk-visually-hidden">Cancel</span>
          </a></li>
        <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#">
            Resend invite<span class="govuk-visually-hidden">Resend</span>
          </a></li> </td>
       <!--   <td class="govuk-table__cell"><a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden">Remove</span>
          </a> </td> -->
        </tr>

  </tbody>
</table>


<p class="govuk-body govuk-!-margin-top-9 govuk-!-margin-bottom-6">
  <a href="/laps/account/manage-account-admin-a1" class="govuk-link">((Demo page with Invited colleague shown))</a>
</p>


  </div>
</div>



{% endblock %}