{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{ govukHeader({
  homepageUrl: "/index.html",
  serviceName: serviceName ,
  serviceUrl: "/index.html",
  navigation: [
  {
  href: "account-home-admin",
  text: "Home"
  },
  {
    href: "#",
    text: "Payments"
    },
  {
  href: "manage-account-admin",
  text: "Manage your account",
  active: true
  },
  {
    href: "#",
    text: "View guidence"
    },
  {
  href: "#3",
  text: "Sign out"
  }
  ]
  }) }}
  
  {% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
aria-labelledby="govuk-notification-banner-title"
data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
  <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
    Success
  </h2>
</div>
<div class="govuk-notification-banner__content">
  <p class="govuk-notification-banner__heading">You updated your details.
  </p>


</div>
</div>
    <span class="govuk-caption-l"> {{data['local_authority']}}</span>
    <h1 class="govuk-heading-l">Manage account</h1>

    <h2 class="govuk-heading-m">Your details</h2>





    <dl class="govuk-summary-list govuk-!-margin-bottom-0 ">
    
    
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
            {{data['d_f_name'] | capitalize }} {{data['d_l_name'] | capitalize }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="role-details-change-admin">
              Change<span class="govuk-visually-hidden">name</span>
            </a>
          </dd>
        </div>
 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Role</dt>
          <dd class="govuk-summary-list__value">
            {{data['d_role']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="role-details-change-admin">
              Change<span class="govuk-visually-hidden">role</span>
            </a>
          </dd>
        </div>
 
  
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Email</dt>
        <dd class="govuk-summary-list__value" >{{data['d_email']}} </dd>
      </div>
     
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Permission</dt>
        <dd class="govuk-summary-list__value">
          {{data['who_list'] | capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="role-details-change-admin">
            Change<span class="govuk-visually-hidden">role</span>
          </a>
        </dd>
      </div>
    </dl>


    <dl class="govuk-summary-list">
    
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Password</dt>
        <dd class="govuk-summary-list__value">
          *****************
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">password</span>
          </a>
        </dd>
      </div>
    </dl>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          My details are incorrect
        </span>
      </summary>
      <div class="govuk-details__text">
        Text to be provided based on business rules.
      </div>
    </details>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">EPR team</h2>

    

    <p class="govuk-body">Choose colleagues responsible for: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>finance relating to waste  </li>
      <li>waste data submissions  </li>
    </ul>

    <div class="govuk-inset-text govuk-!-font-weight-bold">
      These people will have admin accounts. They’ll only be able to add other admin level users during beta testing.
    </div>
    
 

    <form class="govuk-form-group" method="post" action="role-details-admin">
      <button class="govuk-button" type="submit">Invite colleague </button>
  </form>
    

  </div>
</div>

{% endblock %}