{% extends "layouts/main.html" %}

{% block pageTitle %}
 
Which local authority do you want to signin to? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<nav class="hmrc-language-select" aria-label="Language switcher">
  {{ govukBackLink({
    href: "javascript:window.history.back()",
    text: "Back"
  }) }}
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block content %}

<!-- -------------------------------------first option page------------------------------------------------------------->



{% if data['errorthispage'] == "true" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#choose-error">Select a local authority to manage</a>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
    <div class="govuk-form-group govuk-form-group--error">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Choose a local authority to manage
          </h1>
        </legend>
      <!--  <div id="contact-hint" class="govuk-hint">
          Select which local authority payments you want to manage.
        </div> -->
        <p id="choose-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Select a local authority to manage
        </p>
    <form id="which" method="post">
   
       
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item" data-target="which_la">
              <input class="govuk-radios__input" id="la-1" type="radio" name="which_la" value="la-1">
              <label class="govuk-label govuk-radios__label" for="which_la">
                {{data['local_authority']}}
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="la-2" type="radio" name="which_la" value="la-2">
              <label class="govuk-label govuk-radios__label" for="which_la">
                {{data['local_authority_2']}}
              </label>
            </div>
       
      </fieldset>
  
      </div>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-body govuk-!-margin-bottom-6" type="submit">Continue</button>
        </div>
    </form>



  </div>
</div>




<!-- ------------------------------------- (default)------------------------------------------------------------->

{% else %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <div class="govuk-form-group ">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Choose a local authority to manage
          </h1>
        </legend>
      <!--  <div id="contact-hint" class="govuk-hint">
          Select which local authority payments you want to manage.
        </div> -->
  
    <form id="which" method="post">
   
       
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item" data-target="which_la">
              <input class="govuk-radios__input" id="la-1" type="radio" name="which_la" value="la-1">
              <label class="govuk-label govuk-radios__label" for="which_la">
                {{data['local_authority']}}
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="la-2" type="radio" name="which_la" value="la-2">
              <label class="govuk-label govuk-radios__label" for="which_la">
                {{data['local_authority_2']}}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
        <div class="govuk-button-group">
          <button class="govuk-button govuk-body govuk-!-margin-bottom-6" type="submit">Continue</button>
        </div>
    </form>



  </div>
</div>

{% endif %}

<!-- -------------------------------------dropdown selction footer------------------------------------------------------------->

<!-- ERROR LOGIC  drop down to toggle states  -->
<!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
<form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-80px;  ">

  <select style="height:30px;" onchange="window.location.href='?'+this.value">

      <option value="errorthispage=false&errortypeone=false&errortypetwo=false&" {% if (data['errorthispage'] !="true"
          ) %}selected{% endif %}>Errors - Off</option>

      <option value="errorthispage=true&errortypeone=true&errortypetwo=false&" {% if (data['errortypeone']=='true' and
          data['errortypetwo'] !='true' ) %}selected{% endif %}>Error - On</option>

  </select>

</form>
<!--  END OF ERROR LOGIC -->
{% endblock %}