{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose up to two people to manage {{data['local_authority']}}'s EPR account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <h1 class="govuk-heading-l">Choose up to two people to manage {{data['local_authority']}}'s EPR account</h1>
 

    <p class="govuk-body">These people will manage the EPR account day-to-day. Choose those responsible for: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>receiving payment for packaging waste costs </li>
      <li>approving packaging waste data </li>
    </ul>

    <div class="govuk-inset-text">
      These people will get admin permissions. Once they set up their accounts, they will be able to add standard users.
    </div>
 
    <form id="choose" method="post">
    <button class="govuk-button govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-8" type="submit">Continue</button>
</form>
  <!-- <p><a class="back-home" href="/laps/account/success-c">No, I will do it later</a></p> -->
  </div>
</div>

{% endblock %}