{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose up to two people to manage {{data['local_authority']}}'s EPR account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form id="delegate-details" method="post">

    <span class="govuk-caption-l">Register for Local Authority Payments</span>

    <h1 class="govuk-heading-l">Invite colleagues to manage {{data['local_authority']}}'s pEPR payments and data</h1>

    <p class="govuk-body"> Choose senior colleagues responsible for: </p>



    {{ govukRadios({
      idPrefix: "who_list",
      name: "who_list",
      fieldset: {
     
      },
     
      items: [
      {
      value: "adding and amending bank details",
      html: "Adding and amending bank details  
      ",
  
      hint: {
      text: "They must be employed as an S151 Officer, Chief Financial Officer, or in another other senior finance role  
   "
      }
      },
      {
      value: "managing waste data",
      html: "Managing waste data
      ",
  
      hint: {
      text: "For example, head of waste, waste manager, or waste accountant
   "
       } },
      {
        value: "cannot",
        html: "I’ll do this later 
        ",
    
        hint: {
        text: "You’ll be able to add colleagues using your account 
     "
        }
      }
      ]
      }) }}


    <div class="govuk-inset-text govuk-!-font-weight-bold">
      Your colleagues will be able to add more users as the service develops.
    </div>
  
    
    <button class="govuk-button govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-8" type="submit">Continue</button>
</form>
<!--
<p><a class="back-home" href="/laps/account/success">I cannot choose anyone right now</a></p>   -->
  <!-- <p><a class="back-home" href="/laps/account/success-c">No, I will do it later</a></p> -->
  
  </div>
</div>

{% endblock %}