{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{{ govukHeader({
homepageUrl: "/index.html",
serviceName: serviceName ,
serviceUrl: "/index.html",
navigation: [
{
href: "account-home-ceo",
text: "Home"
},
{
href: "#",
text: "Payments"
},
{
href: "#",
text: "Manage your account",
active: true
},
{
href: "#",
text: "View guidence"
},
{
href: "#3",
text: "Sign out"
}
]
}) }}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}
{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   
    <h1 class="govuk-heading-l"><span class="govuk-caption-l">{{data['local_authority']}}</span>Change users details </h1>


    <!-- <p>Use this form to set up user research testing with matching data.</p> -->


      <form id="delegate-details" method="post" action="manage-account-ceo-s2">

        <div class="govuk-form-group">
          <label for="contacts_name">
            <span class="govuk-label">First name</span>
          </label>
          <input class="govuk-input govuk-input--width-30" name="d_f_name" id="d_f_name" type="text"
            value="{{data['d_f_name']}}" data-error="Enter a first name" value="{{data['d_f_name']}}">
        </div>

        <div class="govuk-form-group">
          <label for="local_authority">
            <span class="govuk-label">Last name</span>
          </label>
          <input class="govuk-input govuk-input--width-30" name="d_l_name" id="d_l_name" type="text"
            value="{{data['d_l_name']}}" data-error="Enter a last name" value="{{data['d_l_name']}}">
        </div>


        <div class="govuk-form-group">
          <label for="contacts_email">
            <span class="govuk-label">Email address</span>
          </label>
          <div id="authentication-code-hint" class="govuk-hint">
            (SW placeholder) Text to be provided based on business rules around how to change
          </div>
          <input class="govuk-input govuk-input--width-30 " disabled="disabled" name="d_email" id="d_email" type="text"
            value="{{data['d_email']}}" data-error="Enter an email address" value="{{data['d_email']}}">
        </div>
        <div class="govuk-form-group">
          <label for="contacts_email">
            <span class="govuk-label">Role</span>
          </label>
          <input class="govuk-input govuk-input--width-30 " name="d_role" id="d_role" type="text"
            value="{{data['d_role']}}" data-error="Enter a role" value="{{data['d_role']}}">
        </div>


        {{ govukRadios({
        idPrefix: "who_list",
        name: "who_list",
        fieldset: {
        legend: {
        text: "What permissions should they have? ",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
        }
        },
        hint: {
        text: ""
        },
        items: [
        {
        value: "finance admin",
        html: "Finance admin
        ",

        hint: {
        text: "Managing finance relating to
        waste"
        }
        },
        {
        value: "waste admin",
        html: "Waste admin
        ",

        hint: {
        text: "Managing waste data submissions"
        }
        }
        ]
        }) }}


        <!--
    <div class="govuk-inset-text">
      This person will get admin permissions. Once they set up their account, they will be able to add standard users. 
    </div>
 -->

        <div class="govuk-button-group">
          <button class="govuk-button govuk-body govuk-!-margin-bottom-6" type="submit">Continue</button>
        </div>

      </form>

    </div>
    </div>

  {% endblock %}