{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Private beta</span>
    <h1 class="govuk-heading-xl">CEO details for UR session</h1>


    <!--<p>Use this form to set up user research testing with matching CEO data.</p>-->

    <form id="contact-details" method="post">

    
        <div class="govuk-form-group">
          <label for="contacts_name">
            <span class="govuk-label">First name</span>
        </label>
        <input class="govuk-input govuk-input--width-30 " name="contacts_fname" id="contacts_fname" type="text"
          data-error="Enter a first name" value="David">
      </div>
      <div class="govuk-form-group">
        <label for="contacts_name">
          <span class="govuk-label">Last name</span>
      </label>
      <input class="govuk-input govuk-input--width-30 " name="contacts_lname" id="contacts_nlame" type="text"
        data-error="Enter a last name" value="Heywood">
    </div>
     
        <div class="govuk-form-group">
          <label for="contacts_email">
            <span class="govuk-label">Email address</span>
        </label>
        <input class="govuk-input govuk-input--width-30 " name="contacts_email" id="contacts_email" type="text"
          data-error="Enter an email address" value="d.heywood@sstaffs.gov.uk
          ">
      </div>
 
        <div class="govuk-form-group">
          <label for="local_authority">
            <span class="govuk-label">Local authority</span>
        </label>
        <input class="govuk-input govuk-input--width-30 " name="local_authority" id="local_authority" type="text"
          data-error="Enter a local authority name" value="South Staffordshire Council">
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button govuk-body govuk-!-margin-bottom-6" type="submit">Save and continue</button>
      </div>
  </div>
</div>
</form>


{% endblock %}
