{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    href: "#",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl">Private beta</span>
    <h1 class="govuk-heading-xl">Acc details for UR session</h1>


    <!--<p>Use this form to set up user research testing with matching CEO data.</p>-->
    <h2 class="govuk-heading-m">CEO details</h2>
    <form id="contact-details" method="post">

    
        <div class="govuk-form-group">
          <label for="contacts_name">
            <span class="govuk-label">Full name</span>
        </label>
        <input class="govuk-input govuk-!-width-one-half " name="contacts_name" id="contacts_name" type="text"
          data-error="Enter a full name" value='{{data[' contacts_name']}}'>
      </div>
     
        <div class="govuk-form-group">
          <label for="contacts_email">
            <span class="govuk-label">Email address</span>
        </label>
        <input class="govuk-input govuk-!-width-one-half " name="contacts_email" id="contacts_email" type="text"
          data-error="Enter an email address" value='{{data[' contacts_email']}}'>
      </div>
 
        <div class="govuk-form-group">
          <label for="local_authority">
            <span class="govuk-label">Local authority</span>
        </label>
        <input class="govuk-input govuk-!-width-one-half " name="local_authority" id="local_authority" type="text"
          data-error="Enter a local authority name" value='{{data[' local_authority']}}'>
      </div>

      <h2 class="govuk-heading-m">Person 1 details</h2>
      <div class="govuk-form-group">
        <label for="contacts_name">
          <span class="govuk-label">First name</span>
      </label>
      <input class="govuk-input govuk-input--width-20" name="d_f_name" id="d_f_name" type="text" value="{{data['d_f_name']}}"
        data-error="Enter a first name" value="{{data['d_f_name']}}">
    </div>

      <div class="govuk-form-group">
        <label for="local_authority">
          <span class="govuk-label">Last name</span>
      </label>
      <input class="govuk-input govuk-input--width-20" name="d_l_name" id="d_l_name" type="text" value="{{data['d_l_name']}}"
        data-error="Enter a last name" value="{{data['d_l_name']}}">
    </div>

    <div class="govuk-form-group">
      <label for="contacts_email">
        <span class="govuk-label">Role</span>
    </label>
    <input class="govuk-input govuk-input--width-20 " name="d_role" id="d_role" type="text" value="{{data['d_role']}}"
      data-error="Enter a role" value="{{data['d_role']}}">
  </div>

        <div class="govuk-form-group">
          <label for="contacts_email">
            <span class="govuk-label">Email address</span>
        </label>
        <input class="govuk-input govuk-input--width-30 " name="d_email" id="d_email" type="text" value="{{data['d_email']}}"
          data-error="Enter an email address" value="{{data['d_email']}}">
      </div>
      <h2 class="govuk-heading-m">Person 2 details</h2>

      <div class="govuk-form-group">
        <label for="contacts_name">
          <span class="govuk-label">First name</span>
      </label>
      <input class="govuk-input govuk-input--width-20" name="d_f_name2" id="d_f_name2" type="text" value="{{data['d_f_name2']}}"
        data-error="Enter a first name" value="{{data['d_f_name2']}}">
    </div>

    <div class="govuk-form-group">
      <label for="local_authority">
        <span class="govuk-label">Last name</span>
    </label>
    <input class="govuk-input govuk-input--width-20" name="d_l_name2" id="d_l_name2" type="text" value="{{data['d_l_name2']}}"
      data-error="Enter a last name" value="{{data['d_l_name2']}}">
  </div>

  <div class="govuk-form-group">
    <label for="contacts_email">
      <span class="govuk-label">Role</span>
  </label>
  <input class="govuk-input govuk-input--width-20 " name="d_role2" id="d_role2" type="text" value="{{data['d_role2']}}"
    data-error="Enter a role" value="{{data['d_role2']}}">
</div>

      <div class="govuk-form-group">
        <label for="contacts_email">
          <span class="govuk-label">Email address</span>
      </label>
      <input class="govuk-input govuk-input--width-30 " name="d_email2" id="d_email2" type="text" value="{{data['d_email2']}}"
        data-error="Enter an email address" value="{{data['d_email2']}}">
    </div>
    <div class="govuk-button-group">
      <button class="govuk-button govuk-body govuk-!-margin-bottom-6" type="submit">Continue</button>
    </div>

  </div>
</div>
</form>


{% endblock %}
