{% extends "layouts/main.html" %}

{% block pageTitle %}
  Create a password – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}




{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h1 class="govuk-heading-l">You signed out of LAPs</h1>

    <form action="#">
      {{ govukButton({
        text: 'Sign in'
      }) }}
    </form>
    <!--
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="#">Sign in to LAPs</a>
      </li>
   
    </ul>
    -->
  </div>
</div>

{% endblock %}