{% extends "layouts/main.html" %}

{% block pageTitle %}
{{data['local_authority']}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block content %}



{% if (data['upload_another'] === 'No') %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          Success
        </h1>
        <div class="govuk-panel__body">
          Account created for <br><strong>{{data['local_authority']}}</strong>
        </div>
      </h1>

    </div>
    <p class="govuk-body">We’ll send you a confirmation email.</p> 
   
    <h2 class="govuk-heading-m">Invitation sent </h2>
    <p class="govuk-body">You have invited:</p>
    
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">{{data['d_f_name'] | capitalize }} {{data['d_l_name'] | capitalize }} <br>
            <span class="govuk-body">{{data['d_role']}}</span><span
              class="govuk-caption-m govuk-!-font-size-16">{{data['d_email']}} </span></th>
        </tr>
     
      </tbody>
    </table>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We’ll send them an account creation email.</p>


    {% elif (data['upload_another'] === 'Yes') %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
            <h1 class="govuk-panel__title">
              Success
            </h1>
            <div class="govuk-panel__body">
              Account created for <br><strong>{{data['local_authority']}}</strong>
            </div>
          </h1>
    
        </div>
       
        <p class="govuk-body">We’ll send you a confirmation email.</p> 
   
        <h2 class="govuk-heading-m">Invitation sent </h2>
        <p class="govuk-body">You have invited:</p>
       
        <table class="govuk-table">
     
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{data['d_f_name'] | capitalize }} {{data['d_l_name'] | capitalize }} <br>
                <span class="govuk-body">{{data['d_role']}}</span><span
                  class="govuk-caption-m govuk-!-font-size-16">{{data['d_email']}} </span></th>
            </tr>
    
    
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{data['d_f_name2'] | capitalize }} {{data['d_l_name2'] | capitalize }} <br>
                <span class="govuk-body">{{data['d_role2']}}</span><span
                class="govuk-caption-m govuk-!-font-size-16">{{data['d_email2']}} </span></th> 
            </tr>
         
          </tbody>
        </table>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We’ll send them an account creation email.</p>

<!--
    <ul class="govuk-list">
      <li>
        {{data['d_f_name'] | capitalize }}  {{data['d_l_name'] | capitalize }} <br><span
                  class="govuk-caption-m govuk-!-font-size-16">{{data['d_email']}} </span>        
      </li>    
      <li>
        {{data['d_f_name2'] | capitalize }}  {{data['d_l_name2'] | capitalize }}  <br><span
        class="govuk-caption-m govuk-!-font-size-16">{{data['d_email2']}} </span>
      </li>
    </ul>
      -->

      {% else %}

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
              <h1 class="govuk-panel__title">
                Success
              </h1>
              <div class="govuk-panel__body">
                Account created for <br><strong>{{data['local_authority']}}</strong>
              </div>
            </h1>
          </div>

          <p class="govuk-body">We’ll send you a confirmation email.</p>
   
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">You’ll be able to invite colleagues to {{data['local_authority']}}'s account as this service develops.</p>
          <p class="govuk-body">We’ll let you know by email when this feature is available. </p>
   
      {% endif %}

<!--
    <div class="govuk-button-group">
      <button class="govuk-button govuk-body govuk-!-margin-bottom-6" type="submit">Go to account home</button>
    </div> 
-->
    <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      <a href="/laps/account/account-home-ceo" class="govuk-link">Go to your account</a>
    </p>

    <p class="govuk-body">
      <a href="confirm-signout" class="govuk-link">Sign out</a>
    </p>

  </div>
</div>







 


{% endblock %}