{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
tag: {
text: "Beta"
},
html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
<nav class="hmrc-language-select" aria-label="Language switcher">
  <ul class="hmrc-language-select__list">
    <li class="hmrc-language-select__list-item">
      <span aria-current="true">English</span>
    </li>
    <li class="hmrc-language-select__list-item">
      <a href="?cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg">
        <span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span>
        <span aria-hidden="true">Cymraeg</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}

{% block content %}


 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">




    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          Success
        </h1> 
        <div class="govuk-panel__body">
          LAPs registration completed for <br><strong>{{data['local_authority']}}</strong>
        </div>
        

      </h1>

    </div>
  <!--  <p class="govuk-body">We have sent emails to:</p>
    <ul class="govuk-list">
      <li>
        {{data['d_f_name']}}  {{data['d_l_name']}} 
      </li>
      <li>
        {{data['d_f_name2']}}  {{data['d_l_name2']}} 
      </li>
   
    </ul> -->
    <p class="govuk-body">We’ll send you a confirmation email.</p>
   
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">Log back in to your account to invite 1 or 2 colleagues to manage {{data['local_authority']}}'s pEPR payments and data.</p>
   
<!--
    <div class="govuk-button-group">
      <button class="govuk-button govuk-body govuk-!-margin-bottom-6" type="submit">Go to account home</button>
    </div> -->

    <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">
      <a href="/laps/account/account-home-ceo" class="govuk-link">Go to your account homepage</a>
    </p>

    <p class="govuk-body">
      <a href="confirm-signout" class="govuk-link">Sign out</a>
    </p>

  </div>
</div>



{% endblock %}