{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Create your account for extended producer responsibility (EPR) for packaging payments
      </h1>

      <p>
        This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.
      </p>
      <h3 class="govuk-heading-s">Create an account</h3>

      <div class="govuk-inset-text">
        Create your account here: <a href="/laps/sign-in">https://tbc.service.gov.uk/tokenisedlink</a>
        </div>
      
    </div>
  </div>

{% endblock %}
