{% extends "layouts/main.html" %}

{% block pageTitle %}
  Local authority list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName %}
Administrator EPR account for packaging waste payments
{% endset%}


{% block header %}

{{ govukHeader({
homepageUrl: "/index.html",
serviceName: serviceName ,
serviceUrl: "/index.html",
navigation: [
{
href: "account-home-blk",
text: "Local authority list",
active: true
},
{
href: "upload",
text: "Upload contact details"
},
{
href: "sign-out",
text: "Sign out"
}
]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <span class="govuk-caption-l">Private beta</span>
    <h1 class="govuk-heading-l">
      Local authority list
    </h1>

    <p class="govuk-body-l">You have not uploaded any data yet.</p>

   <form class="govuk-form-group" method="post">
    <button href="" class="govuk-button" type="submit"> Upload local authority contact details</button>
 </form>


    </div>
  </div>
</div>






  </div>
</div>

{% endblock %}