{% extends "layouts/main.html" %}

{% block pageTitle %}
  Reinvite – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName %}
Administrator EPR account for packaging waste payments
{% endset%}

{% block header %}

{{ govukHeader({
homepageUrl: "/index.html",
serviceName: serviceName ,
serviceUrl: "/index.html",
navigation: [
{
href: "account-home",
text: "Local authority list",
active: true
},
{
href: "upload",
text: "Upload contact details"
},
{
href: "#3",
text: "Sign out"
}
]
}) }}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <span class="govuk-caption-m">Private beta</span>
      <h1 class="govuk-heading-l">
        Re-invite authority
      </h1>
<!--
      <p>
        These authorities have not registered for LAPs. </p>

 

<p>Send them an invitation reminder. 
      </p>
    -->
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            
            <th scope="col" class="govuk-table__header">Authority</th>
            <th scope="col" class="govuk-table__header" style="width:400px;">Contact details</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
      
        <tr class="govuk-table__row">
           
            <td class="govuk-table__cell"> Oldham Borough Councill<span
              class="govuk-caption-m govuk-!-font-size-16">ONS ID: ********</span></td>
          <td class="govuk-table__cell">David Francis<br><span
              class="govuk-caption-m govuk-!-font-size-16">david.francis@oldham.gov.uk</span></td>
        </tr>
<!--
        <tr class="govuk-table__row">
           
          <td class="govuk-table__cell">Rochdale Borough Council<span
            class="govuk-caption-m govuk-!-font-size-16">ONS ID: ********</span></td>
        <td class="govuk-table__cell">Paul Farmer<br><span
            class="govuk-caption-m govuk-!-font-size-16">paul.farmer@rochdale.gov.uk</span></td>
      </tr>
    -->
        </tbody>
    </table>
   
      

      <form action="/laps/admin/account-home-resent#past-month">
        {{ govukButton({
          text: 'Send invitation'
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
