{% extends "layouts/main.html" %}

{% block pageTitle %}
Local authority list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName %}
Administrator EPR account for local authority payments
{% endset%}

{% block header %}

{{ govukHeader({
homepageUrl: "/index.html",
serviceName: serviceName ,
serviceUrl: "/index.html",
navigation: [
{
href: "account-home",
text: "Local authority list",
active: true
},
{
href: "upload",
text: "Upload contact details"
},
{
href: "#3",
text: "Sign out"
}
]
}) }}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
  


      <span class="govuk-caption-l">Private beta</span>
      <h1 class="govuk-heading-l">Remove CEO details for Barnsley Borough Council </h1>

     <!--    <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
             
          </strong>
        </div> -->
    <!-- <p>Use this form to set up user research testing with matching data.</p> -->

  

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Susan Mccauley
             
          </dd>
        </div>

      <!--  <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Role
          </dt>
          <dd class="govuk-summary-list__value">
            CEO
       
          </dd>
        </div>
      -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            susan.mccauley@barnsley.gov.uk
          </dd>
        </div>
        <!--
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Authority
          </dt>
          <dd class="govuk-summary-list__value">
            Barnsley Borough Council
          </dd>
        </div>
      -->
      </dl>


      {% if data['ceo'] == "true" %}


      <p class="govuk-body">This person is also the CEO of:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>Dudley Borough Council</li>
      <li>Doncaster Borough Council</li>
    
    </ul>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <form id="remove" method="post"> 
      <div class="govuk-form-group">
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="single" name="remove_ceo" type="radio" value="single" checked>
            <label class="govuk-label govuk-radios__label" for="remove_ceo">
              Remove CEO for Barnsley Borough Council only
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="all" name="remove_ce" type="radio" value="all">
            <label class="govuk-label govuk-radios__label" for="remove_ce0">
              Remove CEO for all the listed local authorities
            </label>
          </div>
      </div>
      </div>
    
      {% endif %}


      <form class="govuk-form-group" method="post" action="/laps/admin/account-home-barnsley-removed">
        <button class="govuk-button govuk-button--warning govuk-body"  type="submit">Remove from local authority</button>
    </form>


     

  </div>
</div>

  <!-- ERROR LOGIC  drop down to toggle states  -->
  <!-- Best thing to do would be to replace 'errorthispage', 'errortypeone' and 'errortypetwo' with novel name for this page  -->
  <form method="post" action="#" class="for4" style=" float: left; position: relative; bottom:-80px;  ">
  
    <select style="height:30px;" onchange="window.location.href='?'+this.value">
  
      <option value="errorthispage=false&errortypeone=false&errortypetwo=false&ceo=false" {% if (data['errorthispage'] !="true" )
        %}selected{% endif %}>Default</option>


        <option value="errorthispage=false&ceo=true&errortypetwo=false&" {% if (data['ceo'] =='true' and
        data['errortypetwo'] !='true' ) %}selected{% endif %}>CEO multi email</option>
  

   
    </select>
  
  </form>
  <!--  END OF ERROR LOGIC -->
  

{% endblock %}
