{% extends "layouts/main.html" %}

{% block pageTitle %}
You have been successfully signed out of your Administrator EPR account – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% set serviceName %}
Administrator EPR account for packaging waste payments
{% endset%}


{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   
    <h1 class="govuk-heading-l">You are signed out</h1>

    <form action="sign-in">
      {{ govukButton({
        text: 'Sign in'
      }) }}
    </form>
    <!--
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-link" href="sign-in">Sign in to LAPs Administrator account</a>
      </li>
    </ul>
    -->
  </div>
</div>

{% endblock %}