{% extends "layouts/main.html" %}

{% set pageName="Index" %}
{% set serviceName %}
  EPR account for local authority payments
{% endset%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h1 class="govuk-heading-m">Latest wireframe additions</h1>
    <h3 class="govuk-heading-s">Whats new:</h3>
    

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              CEO Uploads (Back office Admin)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class="govuk-body">Defra Administrator needs to be able to upload and manage Local Authority CEO information in line with their corresponding Local Authority Organisation, in order to successfully invite them to the LAPs service.</p>
          <ul class="govuk-list govuk-list--bullet">
   
            <li>
              <a class="govuk-link" href="/laps/admin/sign-in">Sign in *administrator</a>
            </li>
        <!--    -->
          </ul>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              CEO Sign up
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class="govuk-body">Content to be added</p>
          <ul class="govuk-list govuk-list--bullet">
   
            <li>
              <a class="govuk-link" href="/laps/account/set-up">Set up file * populate with details first!</a>
            </li>
            <li>
              <a class="govuk-link" href="/laps/account/email">Initial email</a>
            </li>
            <li>
              <a class="govuk-link" href="/laps/account/check-your-details">Check your details</a>
            </li>
            <li>
              <a class="govuk-link" href="/laps/account/create-password">Create a password</a>
            </li> 
            <li>
              <a class="govuk-link" href="/laps/account/responsibility">Choose up to two people who will manage Croydon Council's EPR account</a>
            </li>
          
            <li>
              <a class="govuk-link" href="/laps/account/role-details">Enter person’s details</a>
            </li> 
            <li>
              <a class="govuk-link" href="/laps/account/add-another">Do you want to add anyone else?</a>
            </li> 
        <!--    <li>
              <a class="govuk-link" href="/laps/account/responsibility-2">Second person role</a>
            </li> -->
            <li>
              <a class="govuk-link" href="/laps/account/role-details-2">Enter person two's details</a>
            </li>
            <li>
              <a class="govuk-link" href="/laps/account/check-details">Check these details</a>
            </li>
            <li>
              <a class="govuk-link" href="/laps/account/success">Success</a>
            </li>  
            </ul>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Account management  
            </span>
          </h2>
          
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class="govuk-body">Manage users - Add, edit and delete.</p>

          <ul class="govuk-list govuk-list--bullet">
   
            <li>
              <a class="govuk-link" href="/laps/account/account-home-ceo">account home (CEO)</a>
            </li>
            <li>
              <a class="govuk-link" href="/laps/account/account-home">account home (Delegate)</a>
            </li>
            </ul>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
              Contact us (Query)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
          <p class="govuk-body">Placeholder.</p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}
