{% extends "layouts/main.html" %}

{% set pageName="Index" %}
{% set serviceName %}
EPR for packaging: Register for EPR for packaging
{% endset%}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Work in progress</span>
    <h2 class="govuk-heading-l">Private Beta 1.0 v2 <strong class="govuk-tag govuk-tag--yellow">
        Work in progress
      </strong></h2>
    <p class="govuk-body-l"></p>

    <!-- SECTION ONE -->




    <p class="govuk-body govuk-!-margin-bottom-4"></p>


    <div class="card" style="background-color: #fff;  border: 1px solid #1D70B8;">
      <h2 class="govuk-heading-m">Principle user - Register organisation for EPR for packaging </h2>
      <p class="govuk-body"> <strong class="govuk-tag govuk-tag--yellow">
          Work in progress
        </strong> <strong class="govuk-tag govuk-tag--pink">
          Updated May 2024
        </strong></p>
      <p class="govuk-body">Allows principle user to register organisation for EPR for packaging</p>
      <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
          <a class="govuk-link" href="./account-creation-2/build/guidance-epr.html">Principle user enrols Org to EPR
            for packaging </a>
        </li>
    </div>


    <p class="govuk-body govuk-!-margin-bottom-4"></p>



    <!-- SECTION TWO -->


<div class="card" style="background-color: #fff;  border: 1px solid #1D70B8;">
  <h2 class="govuk-heading-m">Principle user - Homepage EPR for packaging</h2>
  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--yellow">
      Work in progress
    </strong> <strong class="govuk-tag govuk-tag--pink">
      Updated May 2024
    </strong></p>
  <p class="govuk-body">Allows principle user to enrol for EPR workstreams
  </p>

  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>

      <a class="govuk-link" href="./account-creation-2/build/epr/homepage-s.html">Principle user EPR for packaging -
        Homepage</a>
    </li>
  </ul>
</div>



<!-- SECTION THREE -->

<p class="govuk-body govuk-!-margin-bottom-4"></p>



<div class="card" style="background-color: #fff;  border: 1px solid #1D70B8;">
  <h2 class="govuk-heading-m">Principle user - Enroled for EPR workstream</h2>
  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--yellow">
      Work in progress
    </strong> <strong class="govuk-tag govuk-tag--pink">
      Updated May 2024
    </strong></p>
  <p class="govuk-body">Principle user has enroled organisation for EPR workstream
  </p>
  <h3 class="govuk-heading-s">Scenario 1 - Invite a team member</h3>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>

      The user enrols to the workstream before adding a team member <a class="govuk-link" href="./account-creation-2/build/epr/reprocessor/prn-epr/homepage-prn">
         Reprocessor workstream </a> 
    </li>

</ul>
<h3 class="govuk-heading-s">Scenario 2 - Invite a team member</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>

      The user adds a team member before enrolling on the workstream before <a class="govuk-link" href="./account-creation-2/build/epr/exporter/pern/homepage-pern">
       Exporter workstream</a>
    </li>
  </ul>
</div>

<!-- SECTION FOUR -->

<p class="govuk-body govuk-!-margin-bottom-4"></p>

<div class="card" style="background-color: #f4fcde;  border: 1px solid #1D70B8;">
  <h2 class="govuk-heading-m">User - Email invite and create account</h2>
  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--yellow">
      Work in progress
    </strong> <strong class="govuk-tag govuk-tag--pink">
      Updated May 2024
    </strong></p>
  <p class="govuk-body">Principle user invites User via email to create their account
  </p>
  <h3 class="govuk-heading-s">Scenario 1</h3>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>

      <a class="govuk-link" href="./account-creation-2/invitee/user/reprocessor/email-invite-user-with-workstream.html">Principle user has
        invited User to enrol to org <br> with Reprocessor workstream</a>
    </li>
  </ul>
    <h3 class="govuk-heading-s">Scenario 2</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>

      <a class="govuk-link" href="./account-creation-2/invitee/user/exporter/email-invite-user-with-workstream.html">Principle user has
        invited User to enrol to org <br> with Exporter workstream</a>
    </li>

  
  </ul>
</div>


<!-- SECTION FIVE -->

<p class="govuk-body govuk-!-margin-bottom-4"></p>

<div class="card" style="background-color: #f4fcde;  border: 1px solid #1D70B8;">
  <h2 class="govuk-heading-m">User - Enroled for EPR workstream</h2>
  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--yellow">
      Work in progress
    </strong> <strong class="govuk-tag govuk-tag--pink">
      Updated May 2024
    </strong></p>
  <p class="govuk-body">User has created their account, journey starts from workstream
  </p>
  <h3 class="govuk-heading-s">Scenario 1</h3>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
   
    <li>
      <a class="govuk-link" href="./account-creation-2/build/epr/reprocessor/prn-epr/homepage-prn-user">User enroled with org - Reprocessor workstream</a>
    </li>

    </ul>
    <h3 class="govuk-heading-s">Scenario 2</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>

      <a class="govuk-link" href="./account-creation-2/build/epr/exporter/pern/homepage-pern-user">User enroled with org - Exporter workstream</a>
    </li>
  

  </ul>
</div>


<!-- SECTION SIX -->

<p class="govuk-body govuk-!-margin-bottom-4"></p>

<div class="card" style="background-color: #ebf7ff;  border: 1px solid #1D70B8;">
  <h2 class="govuk-heading-m">Admin - Email invite and create account</h2>
  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--yellow">
      Work in progress
    </strong> <strong class="govuk-tag govuk-tag--pink">
      Updated May 2024
    </strong></p>
  <p class="govuk-body">Principle user invites Admin via email to create their account
  </p>
  <h3 class="govuk-heading-s">Scenario 1</h3>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>

      <a class="govuk-link" href="./account-creation-2/invitee/admin/email-invite-admin.html">Principle user has
        invited Admin to enrol to org <br>[without prior enrolment to EPR workstream]</a>
    </li>
</ul>
<h3 class="govuk-heading-s">Scenario 2</h3>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>
      Principle
        user has invited Admin to enrol to org with Reprocessor workstream
    </li>


  </ul>
    <h3 class="govuk-heading-s">Scenario 3</h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>
      Principle user has invited Admin user to enrol to org with Exporter
        workstream 
    </li>
  </ul>
</div>


<!--end of two thirds-->


</div>

<div class="govuk-grid-column-one-third">
  <h3 class="govuk-heading-m">Prototypes</h3>
  <h3 class="govuk-heading-m">Laps</h3>

  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--light-blue">
      Current
    </strong> <a class="govuk-link" href="index.html">Private beta phase 1.0</a></p>

  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--green">
      Future &nbsp;
    </strong> <a class="govuk-link" href="private-beta-1-1.html">Private beta phase 1.1</a></p>
  <h3 class="govuk-heading-m">Register for EPR for packaging </h3>

  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
    Old
  </strong> <a class="govuk-link" href="private-beta-am.htm">Private beta phase 1.0 v1</a></p>

  <p class="govuk-body"> <strong class="govuk-tag govuk-tag--yellow">
    WIP
  </strong> <a class="govuk-link" href="private-beta-am-2.htm">Private beta phase 1.0 v2</a></p>



<!--
    <h3 class="govuk-heading-s">Manage User</h3>
    <p class="govuk-body"> <strong class="govuk-tag govuk-tag--green">
      Future &nbsp;
      </strong> <a class="govuk-link" href="manage-user/managecolleagues.html">Manage colleagues</a></p>
      <p class="govuk-body"> <strong class="govuk-tag govuk-tag--green">
        Future &nbsp;
        </strong> <a class="govuk-link" href="manage-user/manage-account/invite-colleagues1.html">Scenario 1</a></p>
      <p class="govuk-body"> <strong class="govuk-tag govuk-tag--green">
        Future &nbsp;
        </strong> <a class="govuk-link" href="manage-user/manage-account/manage-account-ac.html">Scenario 2</a></p>
      -->




</div>











{% endblock %}