{% extends "layouts/main.html" %}

{% set pageName="Index" %}
{% set serviceName %}
EPR for packaging: local authority payments
{% endset%}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Work in progress</span>
    <h2 class="govuk-heading-l">Private Beta 1.1 <strong class="govuk-tag govuk-tag--green">
      Future
      </strong></h2>
    <p class="govuk-body-l"></p>

    <!-- SECTION ONE -->





    <!-- SECTION TWO -->

    <p class="govuk-body govuk-!-margin-bottom-4"></p>


    <div class="card" style="background-color: #fff;  border: 1px solid #1D70B8;">
      <h2 class="govuk-heading-m">Account managment</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
               CEO view
              </span>
            </h2>
            <p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
                To be signed off
              </strong> <strong class="govuk-tag govuk-tag--pink">
                Updated Mar 2024
              </strong></p>
            <p class="govuk-body">Allows CEO to manage their account.</p>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-3">
            <!--  <strong class="govuk-tag govuk-tag--green">
            CEO
          </strong>
          <p class="govuk-body govuk-!-static-margin-top-2"> Add, edit and delete.</p> -->
            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                <a class="govuk-link govuk-!-font-weight-bold" href="/laps/account-1-1/set-up-acc-ceo">CEO set up file *
                  populate with details first!</a>
              </li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      
              <li> 
                <a class="govuk-link" href="/laps/account-1-1/account-home-ceo">Homepage</a>
              </li>
           <!--   <li>
                <a class="govuk-link" href="/laps/account/manage-account-ceo-s">Status Colleagues invited user
                  active</a>
              </li> -->
            </ul>
          </div>
        </div>

      </div>
    </div>


    <p class="govuk-body govuk-!-margin-bottom-4"></p>



    <!-- SECTION THREE -->


    <div class="card" style="background-color: #fff;  border: 1px solid #1D70B8;">
      <h2 class="govuk-heading-m">Account management</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Delegate (colleague) view
              </span>
            </h2>
            <p class="govuk-body"> <strong class="govuk-tag govuk-tag--red">
                To be signed off
              </strong> <strong class="govuk-tag govuk-tag--pink">
                Updated Mar 2024
              </strong></p>
            <p class="govuk-body">Allows invited delegate (colleague) to manage their account.
            </p>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content"
            aria-labelledby="accordion-default-heading-3">


            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
              <li>
                <a class="govuk-link govuk-!-font-weight-bold" href="/laps/account-1-1/set-up-acc-admin">Admin set up file *
                  populate with details first!</a>
              </li>

            
            </ul>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <ul class="govuk-list govuk-list--bullet govuk-list--spaced">

        
              <li>
                <a class="govuk-link" href="#"></a>Homepage
              </li>
          


            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- SECTION FOUR -->

    <p class="govuk-body govuk-!-margin-bottom-4"></p>




    <!--end of two thirds-->

  </div>

      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Prototypes</h3>
       
        <p class="govuk-body"> <strong class="govuk-tag govuk-tag--light-blue">
        Current
        </strong> <a class="govuk-link" href="index.html">Private beta phase 1.0</a></p>
    
        
        <p class="govuk-body"> <strong class="govuk-tag govuk-tag--green">
          Future &nbsp;
          </strong> <a class="govuk-link" href="private-beta-1-1.html">Private beta phase 1.1</a></p>
    
      </div>

</div>









{% endblock %}